<div class="card">
<!--  <div class="card-image">-->
<!--    <figure class="image is-128x128">-->
<!--      <img src="{{ 'assets/budz/bud' + bud.id + '.png' }}"/>-->
<!--    </figure>-->
<!--  </div>-->
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <nav class="level">
          <figure class="image is-128x128">
            <img src="{{ 'assets/budz/bud' + bud.id + '.png' }}"/>
          </figure>
          <div class="level-item"><p class="title">#{{ bud.id }}</p></div>
          <div class="level-item">
            <sbp-rarity [text]="bud.type" [rarity]="bud.rarity.type" [scarcity]="bud.scarcity.type"></sbp-rarity>
          </div>
        </nav>
      </div>
    </div>

    <div class="content">
      Gadgets: <br />
      <div class="field is-grouped is-grouped-multiline">
        <div class="control" *ngFor="let gadget of bud.rarity.gadgets | keyvalue">
          <sbp-rarity [text]="gadget.key" [rarity]="gadget.value"></sbp-rarity>
        </div>
      </div>
    </div>
  </div>
</div>
