.mythical-color {
  background-color: darkred;
  color: white;
}

.legendary-color {
  background-color: goldenrod;
  color: white;
}

.rare-color {
  background-color: cornflowerblue;
  color: white;
}

.uncommon-color {
  background-color: darkgreen;
  color: white;
}

.common-color {
  background-color: dimgrey;
  color: white;
}
